<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:action="@{'/' + ${id} + '/edit'}" th:object="${attraction}" method="post" >
    <input type="text" class="text" placeholder="Attraction" name="name" id="name" th:field="*{name}"/>
    <input type="text" class="text" placeholder="City" name="city" id="city" th:field="*{city}"/>
    <input type="number" class="text" placeholder="Price" name="price" id="price" th:field="*{price}"/>
    <input type="text" class="text" placeholder="Category" name="category" id="category" th:field="*{category}"/>
    <input type="number" class="text" placeholder="Recommended Age" name="age" id="age" th:field="*{recommendedAge}"/>
    <button type="submit" id="addbutton">
        <i>EDIT</i>
    </button>
</form>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>