<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
</head>
<body>
<form th:action="@{/save-link}" method="post" th:object="${shortner}">
    <label for="link">URL</label>
    <input type="text" name="link" id="link" th:field="*{link}" required/>
    <label for="alias">Alias</label>
    <input type="text" name="alias" id="alias" th:field="*{alias}" required/>
    <button type="submit">Submit</button>
</form>
<div style="color: red" th:if="${error}" th:text=${error}></div>
<div style="color: green" th:if="${success}" th:text="${success}"></div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>