body {
    font-family: Avenir;
    color: darkgreen;
}

select {
    width: 100px;
    height: 30px;
    margin: auto 30px auto auto;
    font-family: Avenir;
    font-size: 15px;
}

label {
    font-weight: bold;
}

button {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background-color: darkgreen;
    color: whitesmoke;
}