<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cars</title>
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/search}" method="post">
        <input type="text" class="searchTerm" placeholder="Search licence here" id="query" name="query" maxlength="7">
        <button type="submit" class="search" id="searchbutton">
            <i>SEARCH</i>
        </button>
    </form>
    <div>
        <a th:href="@{/police}">Police Cars Only</a>
        <a th:href="@{/diplomat}">Diplomat Cars Only</a>
    </div>
    <div th:if="${error}" th:text="${error}"></div>
        <table th:unless = "${error}" class="table jumbotron table-hover">
            <thead>
            <tr>
                <td>Licence Plate</td>
                <td>Brand</td>
                <td>Model</td>
                <td>Color</td>
                <td>Year</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="licence : ${licences}">
            <td th:text="*{licence.getPlate()}"/>
                <td> <a th:href="@{/search/{brand} (brand= ${licence.getBrand()})}" th:text="*{licence.getBrand()}" th:name="brand"/> </td>
                <td th:text="*{licence.getModel()}"/>
                <td th:text="*{licence.getColor()}"/>
                <td th:text="*{licence.getYear()}"/>
            </tbody>
        </table>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>