<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validate Email</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h2>Email validation:</h2>
<div>
<form th:action="@{/useful/email}" method="post">
    <label for="email">Enter your email:</label>
    <input type="text" name="email" id="email" required/>
    <button type="submit"></button>
</form>
</div>
    <div>
        <p th:if="${validator}" th:style=" 'color: green'" th:text="${email} + ' is a valid email.'"></p>
        <p th:unless="${validator}" th:style=" 'color: red'" th:text="${email} + ' is not a valid email.'"></p>
    </div>
</body>
</html>