<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <div>
        <form th:action="@{/login}" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <button type="submit">GO</button>
        </form>
    </div>
</body>
</html>