<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<form th:action="@{/nutrition}" method="post" id="eating" th:object="${fox}">
    <label for="eating">Food</label>
    <select name="food" id="food">
    <div th:each="food : ${foodlist}">
        <option th:value="${fox.food}" th:text="*{food}"></option>
    </div>
    </select>
    <label for="eating">Drink</label>
    <select name="drink" id="drink">
    <div th:each="drink : ${drinklist}">
        <option th:value="*{drink}" th:text="*{drink}"></option>
    </div>
    </select>
    <button type="submit" formaction="/index">Change</button>
</form>
</body>
</html>